body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 30px;
}

#display {
    width: 300px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#display-contents {
    font-size: 30px;
}

#button-container {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-self: end;
    margin-bottom: 30px;
}

button {
    font-size: 15px;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

button.equals {
    width: 146px;
}